.SearchResult {
  padding: 74px 24px 52px 24px;
  flex: 1;
  min-width: 0;
}
.SearchResult_Text {
  margin: 0 0 28px 0;
}
.SearchResult_Item {
  margin: 0 0 28px 0;
}
.SearchResult_ItemTitle {
  font-size: 1.8rem;
  text-decoration: none;
}
.SearchResult_ItemTitle:hover {
  text-decoration: underline;
}
.SearchResult_ItemDescription {
  font-size: 1.4rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (min-width: 600px) {
  .SearchResult {
    padding: 60px 0 52px 0;
  }
}
.Empty {
  font-size: 1.6rem;
  margin: -20px 0 0 0;
  color: #666;
}
